<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1>New Booking</h1>

        <%= render 'form', booking: @booking %>

        <%= link_to 'Back', bookings_path %>
      </div>
    </div>
  </div>
</div>
